.container{
  width: 100px;
  height: 302px;
  position: fixed;
  right: 0.1%;
  top: 45%;
  z-index: 10;
  background-color: #1E1E1E;
  cursor: pointer;
}

.top {
  width: 100%;
  height: 100px;
}


.mid {
  width: 100%;
  height: 100px;
}

.bottom{
  width: 100%;
  height: 100px;
}

@media (max-width:480px) {
  .container{
    width: 70px;
    height: 210px;
    position: fixed;
    right: 0.1%;
    top : 68%;
    z-index: 100;
    background-color: transparent;
    cursor: pointer;
  }
  
  .top {
    width: 70px;
    height: 70px;
  }
  
  .top img{
    width: 100%;
    height: 100%;
  }
  
  .mid {
    width: 70px;
    height: 70px;

  }
  .mid img{
    width: 100%;
    height: 100%;
  }
  
  .bottom{
    width: 70px;
    height: 70px;
  }
  .bottom img{
    width: 100%;
    height: 100%;
  }
}